.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
}

h1{
  font-size: 3.7em;
}

section{
  max-width: 600px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 2em;
  margin: 1em;
}

h2{
  font-size: 1.3em;
  text-align: center;
  padding: .25em;
}

aside{
  display: flex;
  justify-content: flex-end;
}

p {
  font-size: 0.9em;
  text-align: left;
  padding: 16px;
}

p::before{
  content: "- ";
}

.buttons{
  display: flex;
  justify-content: space-between;
}

