.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
}

h1{
  font-size: 3.7em;
}

section{
  max-width: 550px;
  background-color: white;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 2em;
  margin: 1em;
}

h2{
  font-size: 1.4em;
  text-align: center;
  padding: .25em;
}

aside{
  display: flex;
  justify-content: flex-end;
}

p {
  font-size: 0.9em;
  text-align: left;
  padding: 16px 0;
}

p::before{
  content: "- ";
}

.buttons{
  display: flex;
  justify-content: space-between;
}

footer{
  color: #ddd;
}

footer span{
  color: #eee;
  text-shadow: 1px 1px 0.25em #eee;
}

a{
  text-decoration: none;
  height: 30px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
}

a, button{
  padding: 8px;
  color: white;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
}

button{
  font-size: 0.9em;
}

a:hover, button:hover{
  opacity: 0.8;
}

@media screen and ( min-width: 720px) {
  h2{
    font-size: 1.8em;
  }

  button{
    font-size: 1em;
    padding: 8px 10px;
  }

  a{
    font-size: 1.3em;
  }
}


